[scripts]
generate-images = "python generate_images.py"
generate-metadata = "python generate_metadata.py"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
Pillow = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
